version: '3.8'

services:
  # nginx:
  #   container_name: nginx-container
  #   image: nginx
  #   build: 
  #     context: ./requirements/nginx
  #     dockerfile: Dockerfile
  #   ports:
  #     - 443:443
  #   volumes:
  #     - wordpress_srcs:/var/www/html
  #   networks:
  #     - default_network
  #   depends_on:
  #     - wordpress
  #   restart: on-failure


  # wordpress:
  #   container_name: wordpress-container
  #   image: wordpress
  #   build: 
  #     context: ./requirements/wordpress
  #     dockerfile: Dockerfile
  #   ports:
  #     - 9000:9000
  #   volumes:
  #     - wordpress_srcs:/var/www/html
  #   networks:
  #     - default_network
  #   depends_on:
  #     - mariadb
  #   restart: on-failure


  mariadb:
    container_name: mariadb-container
    image: mariadb
    build: 
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    ports:
      - 3306:3306
    volumes:
      - mariadb_srcs:/var/lib/mysql
    networks:
      - default_network
    # depends_on:
    #   - wordpress
    env_file:
      - .env
    restart: on-failure


networks:
  default_network:
    driver: bridge

volumes:
  wordpress_srcs:
    driver: local
    driver_opts:
      type: bind
      o: bind
      source: /home/shawn/data/wordpress
      target: /var/www/html
  mariadb_srcs:
    driver: local
    driver_opts:
      # type: bind
      type: none
      o: bind
      # device: /home/shawn/data/mariadb
      # init: true
      source: /home/shawn/data/mariadb
      target: /var/lib/mysql




